.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

img {
  display: inline-block;
}

button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  width: 20ch;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
}

.buttonContainer img {
  width: 20px;
  padding: 0 1rem;
}
